<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="fragments/header.html :: header-links" />
<body>

    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">
        <h1 class="my-4">Create Post</h1>


        <form action="/posts/create" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title of the post</label>
                <input id="title" class="form-control" name="title" type="text">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Body of the blog post</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">All text goes here. At this time no formatting is allowed besides line breaks.</textarea>
            </div>
            <button class="btn btn-secondary text-center">Submit Post</button>
        </form>

        </div>


        <input class="btn btn-block btn-primary" type="submit" value="Create Post" />
        </form>


    </div>

</body>
</html>