<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header.html :: main-head('All the Posts')"></head>
<body>
<div th:include="navbar.html :: navbar"></div>

<!--Show a single post-->
<main class="container">
    <h1>This page should show a single Post</h1>
    <div class="post">
        <form>
            <h1 th:text="${post.getTitle()}"></h1>
            <p th:text="${post.getBody()}"></p>
        </form>
    </div>
    <div>
        <form action="/posts/delete" method="post">
            <input type="hidden" name="id" th:value="${post.getId()}">
            <button type="submit" id="delete">Delete</button>
        </form>
    </div>
</main>
<div>

    <footer th:include="footer.html :: footer"></footer>
</div>
</body>
</html>