<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('update post')"></head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<form th:action="${'/posts/'+ oldPost.id +'/update'}" method="post">

    <h2>Create Post Form</h2>

    <br>

    <label for="title">Title</label>
    <input name="ad_title" id="title" type="text" th:value="${oldPost.title}">

    <br>

    <label for="body">body</label>
    <input name="post_body" id="body" type="text" th:value="${oldPost.body}">

    <br>

    <input type="submit" value="update post">

</form>

</body>
</html>